<!DOCTYPE html>
<html>
	<head>
		<title>BURD</title>
		<link rel="stylesheet" type="text/css" href="../styles/posts.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="../sidebar.js"></script>
	</head>
	<body>
	<!--	This is the sliding nav bar		!-->
		<nav>
		<a href="#" class="nav-toggle-btn"></a>
			<ul>
				<li>
					<a href="/posts/new">
						<button type="button">
							Create your own post
						</button>
					</a>
				</li>
				<li>
					<form method="post" action="/users/<%=@user.id%>">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Log out">
					</form>
				</li>
			</ul>
		</nav>
		<header>
			<div id="logo_img">
				<img src="../images/dove.png">
			</div>
		</header>
		<!-- 
			This is the body of a post
		!-->
		<%@posts.each do |post|%>
			<div class="post">
				<div id="top_of_post">
					<a href="/users/<%=post.user_id%>">
						<p><%=User.find(post.user_id).username%></p>
					</a>
				</div>
				<%if post.post_img_url%>
					<div id="img_body">
						<img src=<%=post.post_img_url%>>
					</div>
				<%end%>
				<div id="post_body">
					<p><%=post.post_body%></p>
				</div>
				<p><%=post.likes%></p>
				<a href="/posts/<%=post.id%>">
					<button type="button">
						View Post
					</button>
				</a>
				<%if post.user_id == session[:user_id]%>
					<a href="/posts/<%=post.id%>/edit">
						<button type="button">
							Edit Post
						</button>
					</a>
				<%end%>
			</div>
		<%end%>
	</body>
</html>
